# --- 1. 根目录的依赖 ---
node_modules/

# --- 2. 用户上传文件 ---
uploads/

# --- 3. 全局 IDE 配置 ---
.idea/
.vscode/
*.iml

# --- 4. 操作系统垃圾 ---
.DS_Store
Thumbs.db

# --- 5. 日志文件 ---
*.log
npm-debug.log*

# --- 6. 临时文件 ---
tmp/
temp/