/* Global Reset */
body,
html {
    /* 去除边框 */
    margin: 0;
    /* 撑满视口 */
    padding: 0;
    width: 100%;
    height: 100%;
    /* 防止横向滚动 */
    overflow-x: hidden;
    /* 设置背景色 */
    background-color: #050505;
    /* 设置字体 */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
    /* 设置盒模型 */
    box-sizing: border-box;
}